#### 1. Data preprocessing and cleaning up
#### 2. Create a good database set

In [3]:
import sys
sys.executable

'/Library/Frameworks/Python.framework/Versions/3.7/bin/python3'

In [7]:
from pymongo import MongoClient
import pandas as pd

client = MongoClient()
db = client.POLICE_DATABASE
db_collection = db.POLICE_INTERVIEWS

data = db_collection.find()
df = pd.DataFrame.from_records(data)
data.info(verbose=True)

Total: 593893
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593893 entries, 0 to 593892
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   _id                    593893 non-null  object
 1   FieldInterviewID       593893 non-null  object
 2   NOPD_Item              500343 non-null  object
 3   EventDate              593893 non-null  object
 4   District               593893 non-null  object
 5   Zone                   593893 non-null  object
 6   OfficerAssignment      593769 non-null  object
 7   StopDescription        593893 non-null  object
 8   ActionsTaken           468620 non-null  object
 9   VehicleYear            332290 non-null  object
 10  VehicleMake            337394 non-null  object
 11  VehicleModel           318188 non-null  object
 12  VehicleStyle           330247 non-null  object
 13  VehicleColor           333330 non-null  object
 14  SubjectID              579846 non-null  object
 15  SubjectRace            579846 non-null  object
 16  SubjectGender          579846 non-null  object
 17  SubjectAge             576132 non-null  object
 18  SubjectHasPhotoID      593893 non-null  object
 19  SubjectHeight          576096 non-null  object
 20  SubjectWeight          576204 non-null  object
 21  SubjectEyeColor        576424 non-null  object
 22  SubjectHairColor       573591 non-null  object
 23  SubjectDriverLicState  362857 non-null  object
 24  CreatedDateTime        593893 non-null  object
 25  LastModifiedDateTime   168372 non-null  object
 26  Longitude              593893 non-null  object
 27  Latitude               593893 non-null  object
 28  Zip                    479113 non-null  object
 29  BlockAddress           497052 non-null  object
dtypes: object(30)
memory usage: 135.9+ MB

In [8]:
df.head(3)

,_id,FieldInterviewID,NOPD_Item,EventDate,District,Zone,OfficerAssignment,StopDescription,ActionsTaken,VehicleYear,...,SubjectWeight,SubjectEyeColor,SubjectHairColor,SubjectDriverLicState,CreatedDateTime,LastModifiedDateTime,Longitude,Latitude,Zip,BlockAddress
0,5f027763e2d60f16e5c12197,17415,NaN,01/01/2010 01:11:00 AM,6,E,6th District,TRAFFIC VIOLATION,NaN,2005,...,160,Brown,Black,LA,01/01/2010 01:26:26 AM,NaN,0,0,NaN,NaN
1,5f027763e2d60f16e5c12198,17416,NaN,01/01/2010 02:06:00 AM,5,D,5th District,CALL FOR SERVICE,NaN,NaN,...,140,Brown,Black,NaN,01/01/2010 02:27:38 AM,NaN,0,0,NaN,NaN
2,5f027763e2d60f16e5c12199,17416,NaN,01/01/2010 02:06:00 AM,5,D,5th District,CALL FOR SERVICE,NaN,NaN,...,145,Brown,Black,NaN,01/01/2010 02:27:38 AM,NaN,0,0,NaN,NaN

#### Remove all leading and trailing

In [9]:
df.columns = df.columns.str.strip()

#### Check if there are duplicates. If so, remove them.¶

In [11]:
dups = df.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

Number of duplicate rows = 0

#### Check descriptive statistics to find abnormalities (outliers)

#### Display the null/missing values

In [22]:
print('Number of instances = {}\nNumber of attributes = {}'.format(df.shape[0],df.shape[1]))
print('------------------------------')
df.isnull().sum()  # or axis=0 for columns

Number of instances = 593893
Number of attributes = 30
------------------------------

_id                           0
FieldInterviewID              0
NOPD_Item                 93550
EventDate                     0
District                      0
Zone                          0
OfficerAssignment           124
StopDescription               0
ActionsTaken             125273
VehicleYear              261603
VehicleMake              256499
VehicleModel             275705
VehicleStyle             263646
VehicleColor             260563
SubjectID                 14047
SubjectRace               14047
SubjectGender             14047
SubjectAge                17761
SubjectHasPhotoID             0
SubjectHeight             17797
SubjectWeight             17689
SubjectEyeColor           17469
SubjectHairColor          20302
SubjectDriverLicState    231036
CreatedDateTime               0
LastModifiedDateTime     425521
Longitude                     0
Latitude                      0
Zip                      114780
BlockAddress              96841
dtype: int64

#### Drop columns with 90+% null values.

In [ ]:
## TODO decide which column to drop

#### Remove row indexes with 55% missing important values

In [ ]:
## TODO

#### Impute all the missing values with median.

In [ ]:
#### TODO